html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

main {
    padding: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

input:focus {
    outline: none;
    border: 1px solid #a1a1a1;
}

strong {
    color: red;
}

.personal-information {
    background-color: #182e6a;
    color: #fff;
    padding: 20px;
    margin: 0;
    border-radius: 5px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.inputs-container {
    padding: 20px;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: calc(33% - 20px);
}

.checkbox-mailing {
    margin-top: 20px;
}

.acknowledgement h2 {
    background-color: #182e6a;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.acknowledgement p {
    text-transform: uppercase;
    color: #505d7c;
}

.acknowledgement>p:nth-child(2) {
    font-weight: 600;
}

.acknowledgement>p:nth-child(3) {
    font-weight: 500;
    font-style: italic;
}

.buttons-form {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

button {
    height: 50px;
    min-width: 150px;
    background-color: #3a3131;
    color: #fff;
    border: 1px solid #3a3131;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #3a31316b;
    color: #3a3131;
    border: 1px solid #3a3131;
    cursor: pointer;
}

.required-error {
    border: 1px solid red;
}

@media (max-width: 768px) {
    .flex {
        flex-direction: column;
    }

    .form-input {
        width: 100%;
    }
}